.gallery-section {
  background: url("/Construction images/gallery.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 65vh;
}

.gallery-section h1 {
  color: var(--pure-white);
  position: absolute;
  top: 265px;
  left: 45%;
  font-size: 3.5rem;
}

.galleryContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 8%;
}

.gallerys {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}

.gallerys img {
  width: 100%;
}

.gallery-details {
  margin-top: 3rem;
}

@media all and (max-width: 740px) {
  .gallery-section {
    height: 35vh;
  }

  .gallery-section h1 {
    top: 165px;
    font-size: 3rem;
  }
}

@media all and (max-width: 530px) {
  .gallery-section {
    left: 35%;
  }

  .comming-soon {
    height: 15vh;
    font-size: 1.4rem;
  }
}

@media all and (max-width: 390px) {
  .gallery-section h1 {
    top: 165px;
    font-size: 3rem;
    left: 29%;
  }
}
