@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;900&display=swap');

:root{
    /* Colors */
    --light-green: rgb(255, 255, 255);
    --black: rgb(8, 8, 8);
    --white: rgb(11, 60, 150);
    --hover: rgb(94, 146, 242);
    --hover-2: rgb(184, 240, 212);

    /* Fonts */
    --lg-sm: 400;
    --lg-xm: 600;
    --lg-ss: 700;
    --lg-xx: 900;

    /* Transition */
    --transition: all .8s;
    --transition-2: ease 1.3s; 
}

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--light-green);
    font-family: 'Nunito', sans-serif;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

button{
    cursor: pointer !important;
    border: none;
    outline: none;
}

input, textarea{
    outline: none;
    border: none;
}

.padding{
    padding: 0px 10rem;
}

textarea,
input{
    outline: none;
    border: none;
}

img{
    object-fit: cover;
}

/* ================================================== Header Section ======================================= */
.header{
    padding: 10px 2rem;
    background-color: var(--white);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.nav-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-section img{
    width: 7%;
}

.nav-section ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-section ul li a{
    color: var(--light-green);
    font-weight: var(--lg-xx);
    transition: var(--transition);
    padding: 7px 10px;
    border-radius: 3px;
}

a.active,a:hover{
    background: var(--hover);
}

/* .nav-section ul li a:hover{
   background: var(--hover);
   border-radius: 2px;
   
}  */

.toggle{
    display: none;
}

/* Header Description */
.header-description{
    background-color: var(--white);
    margin-top: 3rem;
    text-align: center;     
    align-items: center;
    padding: 32px 0px;
}

.header-description img{
    width: 80px;
    border-radius: 4px;
}

.header-description h3{
    color: var(--light-green);
    text-transform: uppercase;
    font-weight: var(--lg-ss);
    padding: 10px 0px;
    font-size: 19px;
}

/* Body Description */
.body-description{
    align-items: center;
    text-align: center;
    margin: 3rem 0px;
}

.body-description img{
    width: 70%;
}

.body-description h3{
    font-weight: var(--lg-xm);
    padding: 10px 0px;
}

.body-description h1{
    font-size: 2.5rem;
    padding: 7px 6.5rem;
    margin-bottom: 2rem;
}

.body-description a{
    background-color: var(--hover);
    border-radius: 3px;
    margin: 3rem 0px 2rem;
    padding: 12px 36px;
    transition: var(--transition);
    font-weight: var(--lg-ss);
    font-size: 16px;
    color: var(--light-green);
    border: 1px solid var(--hover)
}

.body-description a:hover{
    background-color: transparent;
    color: var(--hover);
}

/*==================================== About Description ================================== */
.about-text{
    background-image: url("/Construction images/construction image-11.jpg");
    width: 100%;
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.about-text-child h2{
    text-align: center;
    background-color: var(--white);
    padding-top: 4.6%;
    position: absolute;
    overflow: hidden;
    left: 35%;
    width: 32%;
    top: 0;
    margin-top: 7rem;
    padding-bottom: 55px;
    font-size: 3rem;
    font-weight: var(--lg-xx);
    text-transform: uppercase;
    border-radius: 3px;
    color: var(--light-green);
}

.about-story{
    background-color: var(--white);
}

.about-story h3{
    color: var(--light-green);
    padding: 19px 0px;
    font-size: 32px;
    text-align: center;
}

.about-story p{
    color: var(--light-green);
    padding: 16px 16.1rem 5rem;
    letter-spacing: 1px;
    line-height: 25px;
    font-size: 17px;
}

.about-description-flex{
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 50px 100px;
   gap: 1rem;
}

.about-description-flex-2 h1{
    font-weight: var(--lg-xx);
    padding: 1px 0px 8px;
    font-size: 3.5rem;;
}

.about-description-flex-2 h3{
    padding: 5px 0px;
    font-size: 2rem;
    font-weight: var(--lg-ss);
}

.about-description-flex-2 p{
   padding: 5px 0px;
   padding-right: 15rem;
   line-height: 22px;
   margin-bottom: 3rem;
}

.btn{
    padding: 12px 20px;
    background: var(--hover);
    transition: var(--transition);
    border-radius: 2px;
    font-size: 16px;
    font-weight: var(--lg-ss);
    border: 1px solid var(--hover);
    color: var(--light-green);
}

.btn:hover{
    background: transparent;
    color: var(--hover);
}

/* ======================================= Service Section ================================ */
.service{
    background-image: url("/Construction images/construction image-13.jpeg");
    width: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 75vh;
    position: relative; 
}

.service-description{
    position: absolute;
    margin-top: 3rem;
    left: 6rem;
}

.service-description h1{
    font-weight: var(--lg-xx);
    font-size: 3rem;
    padding: 2px 0px 12px;
    text-transform: uppercase;
    color: var(--light-green);
}

.service-description h3{
    padding: 1px 0px 12px;
    font-weight: var(--lg-ss);
    color: var(--light-green);
    font-size: 19px;
}

.service-description p{
    padding-right: 45rem;
    color: var(--light-green);
    line-height: 25px;
    margin-bottom: 4.4rem;
}

.service-work{
    background-color: var(--white);
}

.service-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0px;
    position: relative;
    padding: 2rem 30px;
}

.service-work-flex-1{
    background-color: var(--light-green);
    height: 62.8vh;
    width: 39%;
    padding: 6rem 3rem 2rem;
}

.service-work-flex-1 h3{
    padding: 2px 0px 6px;
    font-weight: var(--lg-ss);
}

.service-work-flex-1 h2{
    padding: 2px 0px 26px;
    font-weight: var(--lg-xx);
}

.btn-2{
    padding: 12px 26px;
    border-radius: 3px;
    background-color: var(--hover);
    font-size: 16px;
    transition: var(--transition);
    color: var(--light-green);
    border: 1px solid var(--hover);
    font-weight: var(--lg-xm);
}

.btn-2:hover{
    background: transparent;
    color: var(--hover)
}

.service-work-flex-2-img1{
    width: 537px;
}

.service-work-flex-2-img2{
    width: 537px;
}

.service-work-flex-2-img3{
    width: 547px;
}

.service-work-flex-2-img4{
    width: 537px;
}

.service-work-flex-2-img5{
    width: 580px;
}

.service-work-flex-1-child-5{
    height: 54.5vh;
    width: 39%;
}

.service-openHours{
    align-items: center;
    text-align: center;
    margin-bottom: 3rem;
}

.service-openHours img{
   width: 60%;
   margin-top: 3rem;
   margin-bottom: 14px;
}

.service-openHours h2{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: var(--lg-xx);
    font-family: serif;
    padding: 2px 0px 10px;
}

.service-openHours p{
    padding: 3px 0px;
    font-weight: var(--lg-ss);
}

.about-products-section{
    background-color: var(--black);
}

.service-story{
    background: var(--white);
}

.service-story-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 0px;
    gap: 1rem;
}

.service-story-flex-1{
    flex-basis: 90%;
}

.service-story-flex-1 img{
    width: 750px;
    cursor: pointer;
}

#slider{
    overflow: hidden;
}

#slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

#slider img{
    float: left;
    width: 20%;
}

@keyframes slider{
    0%{
        left: 0;
    }
    
    20%{
        left: 0;
    }

    25%{
        left: -100%;
    }

    45%{
        left: -100%;
    }

    50{
        left: -200%;
    }

    70%{
       left: -200%;
    }

    75{
        left: -300%;
    }

    95{
        left: -300%;
    }

    100%{
        left: -400%;
    }
}

.service-story-flex-2{
   flex-basis: 100%;
   text-align: center;
}

.service-story-flex-2 h1{
    text-transform: uppercase;
    color: var(--light-green);
    font-weight: var(--lg-xx);
    font-size: 3rem;
    padding: -15px 0px 10px;

}

.service-story-flex-2 h3{
    color: var(--light-green);
    padding: 9px 0px 19px;
}

.btn-3 {
    padding: 12px 20px;
    background: var(--hover); 
    color: var(--white);
    transition: var(--transition);
    border-radius: 2px;
    font-size: 16px;
    font-weight: var(--lg-ss);
    margin-top: 19px;
    border: 1px solid var(--light-green);
    color: var(--light-green);
}

 .btn-3:hover{
    background: transparent;
    color: var(--hover);
} 

/* ========================================== Gallery section ========================================= */
.gallery{
    padding: 13px 0 4rem;
}
.gallery h2{
  color: var(--white);
  padding: 11px 0px 1px;
  text-align: center;
  font-size: 3.5rem;
  font-weight: var(--lg-xx);
}

.gallery .gallery-btn{
    margin-left: 50%;
    margin-top: 5rem;
}

.gallery-grid{
    width: 80%; 
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.gallery-grid img{
   width: 100%;
   opacity: 0.5;
}

.gallery-grid img:hover{
    opacity: 3;
}

.img-gallery{
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    
}

.img-gallery img{
    width: 100%;
    cursor: pointer;
    transition: all 0.5s;
}

.img-gallery img:hover{
    transform: scale(0.8) rotate(-15deg);
    border-radius: 20px;
    box-shadow: 0 32 rgba(68, 77, 136, 0.2);
}

.full-img{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    left: 0;
    z-index: 100;
}

.full-img img{
    width: 90%;
    max-width: 500px;
}

.full-img span{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: var(--white);
    cursor: pointer;
    font-weight: var(--lg-xx);
}

/* ================================================ Contact Us section ========================== */
.contact{
    align-items: center;
    padding: 4rem 10rem;
    background: var(--white);
}

/* .contact img{
   width: 75%;
   object-fit: cover;
} */

.contact h1{
    font-weight: var(--lg-xx);
    font-size: 3rem;
    padding: 14px 0px;
    text-transform: uppercase;
    text-align: center;
    color: var(--light-green)
}

.contact-form{
    width: 100%;
}

.contact-form-name{
    width: 49%;
}

.contact-form-email{
    width: 49%;
}

.contact-form-subject{
    display: block;
    width: 100%;
    margin: 10px 0px;
}

.contact-form-message{
    display: block;
    width: 100%;
    margin: 10px 0px;
}

.contact__message{
    color: var(--white)
}

.color-light{
    opacity: 0;
}

.color-dark{
    opacity: 0.4;
}

input,
textarea{
    padding: 13px 0px;
    background: transparent;
    border-bottom: 1px solid var(--light-green);
    transition: var(--transition-2);
    color: var(--light-green);
} 

input::placeholder,
textarea::placeholder{
    font-size: 16px;
    margin-left: 18px;
}

input:hover,
textarea:hover{
    border: 1px solid var(--light-green);
}

textarea{
    resize: none;
}

.btn-4{
    background: var(--hover);
    margin: 19px 0px;
    padding: 17px 29rem;
    transition: var(--transition);
    font-weight: var(--lg-ss);
    font-size: 16px;
    color: var(--light-green);
}

.btn-4:hover{
    background: var(--hover);
}

.contact-location-details{
    display: block;
    margin: 2rem 0px;
}

.contact-location-details span{
    display: block;
    padding: 16px 0px;
}

.contact-location-details p{
    padding: 10px 0px;
    color: var(--light-green)
}

.contact-social-link a i{
    color: var(--light-green);
}

.contact-social-link i{
    font-size: 26px;
    transition: var(--transition);
}

.contact-social-link i:hover{
    transform: translateY(-12px);
    color: var(--hover);
}



/* ======================= Back-to-top ======================== */
.back-to-top{
     background: linear-gradient(var(--light-green), var(--black));
    position: fixed;
    bottom: 16px;
    right: 29px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-items: center;
    font-size: 32px;
    color: var(--white);
    justify-content: center;
    text-decoration: none;
    display: flex;
    pointer-events: none;
    cursor: pointer;
     opacity: 0; 
    transition: var(--transition);
}

.back-to-top a {
      color: var(--white); 
}

.back-to-top.active{
    bottom: 32px;
    pointer-events: auto;
    opacity: 1; 
}

/* =============== Break Points ============ */

/* ============== For Large devices =============== */
@media  (max-width: 1200px){
    .about-text{
        height: 41vh;
    }
    .about-description-flex-2 h1{
        font-size: 2.3rem;
    }

    .about-description-flex-2 h3{
        font-size: 1.5rem;
    }

    .about-description-flex-2 p{
        padding-right: 3.5rem;
    }

    .service{
        height: 55vh;
    }

    .service-description p{
        padding-right: 32rem;
    }

    .service-work-flex-1{
        height: 37vh;
    }

    .service-work-flex-2-img1,
    .service-work-flex-2-img2,
    .service-work-flex-2-img4{
        width: 470px;
    }

    .service-work-flex-2-img3{
        width: 484px;
    }

    .service-work-flex-2-img5{
        width: 585px;
    }

    .btn-4{
        padding: 17px 20rem;
        margin-left: 5rem;
    }
    
}

@media  (max-width: 1100px){
    .about-description-flex{
       padding: 50px 60px;
    }
    .about-description-flex-2 p {
        padding-right: 1px;
        margin-bottom: 3rem;
      }

      .about-description-flex-1 img{
        width: 100%;
      }

      .about-description-flex-1{
        flex-basis: 100%;
      }

      .about-description-flex-2{
        flex-basis: 80%;
      }

      .about-story p{
        padding: 16px 5rem 3rem;
      }

      .service-description h1{
        font-size: 2rem;
      }

      .service-description h3{
        font-size: 16px;
      }

      .service-description p{
        font-size: 15px;
        padding-right: 20rem;
      }

      .service-work-flex-2-img5{
        width: 580px;
    }
    
    .service-work-flex-1-child-5{
        height: 37.5vh;
        width: 39%;
    }

    .nav-section ul{
        gap:v 1.5rem;
    }
}

@media  (max-width: 900px){
    input{
        margin: 6px 0px 6px;
    }
    .contact-form-name {
        width: 100%;
      }

      .contact-form-email {
        width: 100%;
      }

    .btn-4 {
        padding: 17px 17rem;
        margin-left: 1rem;
    }

    .service {
        height: 48vh;
      }

      .about-text{
        height: 38vh;
      }
}

@media  (max-width: 800px){
    /* .container{
        max-width: 760px;
    } */

    .about-text-child h2{
        font-size: 2rem;
    }

   .service-flex{
    flex-direction: column-reverse;
    gap: 2rem;
    align-items: center;
    justify-content: center;
   }

   .service-work-flex-2{
    align-items: center;
     justify-content: center;
     padding: 0px 7rem;
   }

   .service-work-flex-2 img{
     width: 100%;
     
   }

   .service-work-flex-1{
    width: 73%;
   }
   
   .service-work-flex-2-img4{
     
   }

   .service-story-flex{
    display: block;
    padding: 5rem  3rem;
   }

   .about-description-flex{
    display: block;
   }

   .service-description p{
    padding-right: 15rem;
   }

   .contact {
    padding: 4rem 2rem;
  }

  .contact img {
    width: 100%;
    object-fit: cover;
  }

  .body-description h1 {
    font-size: 1.7rem;
  }

  input{
    margin: 6px 0px;
  }

  .contact-form-name{
    width: 100%;
}

.contact-form-email{
    width: 100%;
}

}

/* @media (orientation: portrait) and (min-width: 900px) and (max-width: 1200px){
    .about-text{
        height: 36vh;
    }

    .service{
        height: 36vh;
    }

    .service-work-flex-1{
        height: 39vh;
    }
}

@media (orientation: landscape) and (min-width: 900px) and (max-width: 1200px){
    .about-text{
        height: 45vh;
    }

    .service{
        height: 55vh;
    }

    .service-work-flex-1{
        height: 35vh;
    }
} */



@media all and (max-width: 640px){
   .container{
    max-width: 700px;
   }

   .toggle{
    display: block;
    font-size: 25px;
    cursor: pointer;
   }

   .nav-section ul li{
    display: block;
    margin: 25px;
   }

   .nav-section ul{
    background: var(--white);
    right: -200px;
    top: 0;
    width: 200px;
    height: 400px;
    padding-top: 50px;
    z-index: 2;
     position: fixed; 
    transition: right 1s;
   }

   .close-menu{
		position: absolute;
		top: 10px;
		right: 20px;
   }

   .nav-section ul{
    display: block;
   }



    .ri-menu-line{
    display: block;
    font-size: 25px;
}

   nav .ri-close-fill{
    display: block;
    font-size: 25px;
  }

  .btn-4 {
    padding: 17px 13rem;
  }

  .service-description p {
    padding-right: 2rem;
  }
  
  .about-text-child h2{
    width: 50%;
    padding-top: 4%;
    padding-bottom: 40px;
  }

  .about-description-flex-2 h1 {
    font-size: 1.8rem;
  }

}

@media all and (max-width: 550px){
    .body-description h1{
        padding: 7px 1rem;
        font-size: 1.3rem;
    }

    .about-story p {
        padding: 16px 10px 3rem;
      }

      .btn-4 {
        padding: 17px 10rem;
      }
}

@media all and (max-width: 450px){
    .service-description{
        left: 2rem;
    }

    .service-description p {
        padding-right: 2px;
      }

      .btn-4 {
        padding: 17px 6rem;
      }

      .nav-section img {
        width: 13%;
      }

      .about-description-flex{
        padding: 50px 10px;
        gap: 1rem;
     }

     .service-work-flex-2{
         padding: 0px 1px;
       }

       .service-work-flex-1 {
        width: 100%;
      }

      .service-openHours img {
        width: 100%;
      }

      .service-story-flex-2 h1{
        font-size: 1.7rem;
      }

      .contact img {
        width: 100%;
        object-fit: fill;
      }

      .body-description img {
        width: 100%;
      }

      .body-description h1 {
        padding: 7px 1px;
        font-size: 1rem;
      }

      .about-story p{
        font-size: 14px;
      }

      .about-text-child h2 {
        font-size: 1.3rem;
      }

      .about-text{
        height: 30vh;
      }

      .about-text-child h2{
        padding-top: 4%;
        padding-bottom: 37px;
        margin-top: 3rem;
      }

      .contact h1{
        font-size: 2rem;
      }
}