@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;0,900;1,300&display=swap');

:root{
    /* Colors */
    --light-green: rgb(79, 247, 164);
    --black: rgb(8, 8, 8);
    --white: rgb(255, 255, 255);
    --hover: rgb(101, 228, 165);
    --hover-2: rgb(184, 240, 212);

    /* Fonts */
    --lg-sm: 300;
    --lg-xm: 400;
    --lg-ss: 700;
    --lg-xx: 900;

    /* Transition */
    --transition: all 0.4s;
}

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--light-green);
    font-family: 'Merriweather', serif;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

button{
    cursor: pointer !important;
    border: none;
    outline: none;
}

input, textarea{
    outline: none;
    border: none;
}

.padding{
    padding: 0px 10rem;
}

textarea,
input{
    outline: none;
    border: none;
}

/* ================================================== Header Section ======================================= */
header{
    background: var(--white);
    /* position: fixed;
    width: 100%;
    top: 0;
    left: 0; */
    height: 3rem;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 0px;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

nav ul li a{
    color: var(--black);
    font-weight: var(--lg-xm);
    transition: var(--transition)
}

nav ul li a:hover{
    color: var(--hover);
}

.header-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    color: var(--black);
}

.header-socials a i{
  color: var(--black);
  transition: var(--transition);
}

.header-socials a i:hover{
    color: var(--hover);
}

/* Header Description */
.header-description{
    background-color: var(--black);
    margin-top: 3rem;
    text-align: center;
    align-items: center;
    padding: 32px 0px;
}

.header-description h3{
    color: var(--light-green);
    text-transform: uppercase;
    font-weight: var(--lg-ss);
    padding: 10px 0px;
}

/* Body Description */
.body-description{
    align-items: center;
    text-align: center;
    margin: 3rem 0px;
}

.body-description img{
    width: 70%;
}

.body-description h3{
    font-weight: var(--lg-xm);
    padding: 10px 0px;
}

.body-description h1{
    font-size: 4rem;
    padding: 7px 6.5rem;
}

.body-description button{
    background-color: var(--black);
    border-radius: 3px;
    margin: 3rem 0px;
    padding: 12px 36px;
    transition: var(--transition);
}

.body-description button a {
    color: var(--white);
    font-weight: var(--lg-ss);
    font-size: 16px;
}

.body-description button:hover{
    background-color: var(--hover);
}

/*==================================== About Description ================================== */
.about-text{
    background-image: url("/Construction images/construction service-1.webp");
    width: 100%;
    height: 75vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.about-text-child h2{
    text-align: center;
    background-color: var(--light-green);
    padding-top: 6%;
    position: absolute;
    overflow: hidden;
    left: 35%;
    width: 32%;
    top: 0;
    margin-top: 7rem;
    padding-bottom: 70px;
    font-size: 3rem;
    font-weight: var(--lg-xx);
    font-family: sans-serif;
    text-transform: uppercase;
}

.about-story{
    background-color: var(--black);
    align-items: center;
    text-align: center;
}

.about-story h3{
    color: var(--white);
    padding: 19px 0px;
}

.about-story p{
    color: var(--white);
    padding: 16px 16.1rem 5rem;
    letter-spacing: 1px;
    line-height: 21px;
}

.about-description-flex{
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 50px 100px;
   gap: 1rem;
}

.about-description-flex-2 h1{
    font-family: sans-serif;
    font-weight: var(--lg-xx);
    padding: 1px 0px 8px;
    font-size: 3.5rem;;
}

.about-description-flex-2 h3{
    padding: 5px 0px;
    font-size: 2rem;
    font-weight: var(--lg-ss);
}

.about-description-flex-2 p{
   padding: 5px 0px;
   padding-right: 15rem;
}

.btn{
    margin-top: 4rem;
}

.btn a{
    padding: 12px 20px;
    background: var(--black);
    transition: var(--transition);
    border-radius: 2px;
    font-size: 16px;
    font-weight: var(--lg-ss);
}

.btn a{
    color: var(--white);
}

.btn:hover{
    background: var(--hover);
}

/* ======================================= Service Section ================================ */
.service{
    background-image: url("/Construction images/Tv image.webp");
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 75vh;
    position: relative; 
}

.service-description{
    position: absolute;
    margin-top: 7rem;
    left: 6rem;
}

.service-description h1{
    font-family: sans-serif;
    font-weight: var(--lg-xx);
    font-size: 3rem;
    padding: 2px 0px 12px;
    text-transform: uppercase;
    color: var(--white);
}

.service-description h3{
    padding: 1px 0px 12px;
    font-weight: var(--lg-ss);
    color: var(--white);

}

.service-description p{
    padding-right: 45rem;
    color: var(--white);
}

.service-work{
    background-color: var(--black);
}

.service-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0px;
    position: relative;
}

.service-work-flex-1{
    background-color: var(--light-green);
    height: 56.5vh;
    width: 36%;
    padding: 6rem 3rem 2rem;
}

.service-work-flex-1 h3{
    padding: 2px 0px 6px;
    font-weight: var(--lg-ss);
    font-family: sans-serif;
}

.service-work-flex-1 h2{
    padding: 2px 0px 26px;
    font-weight: var(--lg-xx);
    font-family: sans-serif;
}

.btn-2{
    padding: 12px 26px;
    border-radius: 3px;
    background-color: var(--black);
    font-size: 16px;
    transition: var(--transition);
}

.btn-2 a{
    color: var(--white);
}

.btn-2:hover{
    background-color: var(--hover-2);
}

.service-openHours{
    align-items: center;
    text-align: center;
    margin-bottom: 3rem;
}

.service-openHours img{
   width: 80%;
   height: 70vh;
   margin-top: 3rem;
   margin-bottom: 14px;
}

.service-openHours h2{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: var(--lg-xx);
    font-family: serif;
    padding: 2px 0px 10px;
}

.service-openHours p{
    padding: 3px 0px;
    font-weight: var(--lg-ss);
}

.about-products-section{
    background-color: var(--black);
}

.service-story{
    background: var(--black);
}

.service-story-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 0px;
    gap: 1rem;
}

.service-story-flex-1{
    flex-basis: 90%;
}

.service-story-flex-1 img{
    width: 750px;
    cursor: pointer;
}

.service-story-flex-2{
   flex-basis: 100%;
   text-align: center;
}

.service-story-flex-2 h1{
    text-transform: uppercase;
    color: var(--white);
    font-weight: var(--lg-xx);
    font-size: 3rem;
    padding: -15px 0px 10px;

}

.service-story-flex-2 h3{
    color: var(--white);
    padding: 9px 0px 19px;
}

.btn-3 {
    padding: 12px 20px;
    background: var(--light-green); 
    color: var(--white);
    transition: var(--transition);
    border-radius: 2px;
    font-size: 16px;
    font-weight: var(--lg-ss);
    margin-top: 19px;
    border: 1px solid var(--light-green);
}

.btn-3 a{
   color: var(--white);
}

 .btn-3:hover{
    background: transparent;
} 


/* ================================================ Contact Us section ========================== */
.contact{
    align-items: center;
    text-align: center;
    padding: 4rem 10rem;
}

.contact img{
   width: 75%;
}

.contact h1{
    font-weight: var(--lg-xx);
    font-size: 3rem;
    padding: 14px 0px;
    text-transform: uppercase;
}

.contact-form{
    width: 100%;
}

.contact-form-name{
    width: 49%;
}

.contact-form-email{
    width: 49%;
}

.contact-form-subject{
    display: block;
    width: 100%;
    margin: 10px 0px;
}

.contact-form-message{
    display: block;
    width: 100%;
    margin: 10px 0px;
}

input{
    padding: 13px 0px;
    background: transparent;
}   